html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding-bottom: 1.3rem;
}

article {
  font-family: "Crimson Text", serif;
  color: #555;
  font-size: 1.125rem;
  line-height: 1em;
  padding-left: 1rem;
  padding-right: 1rem;
  margin: 0;
}

article header {
  padding: 1rem 0 1.3rem;
}

article h1 {
  font-size: 1.5rem;
  font-weight: normal;
  color: #222;
  margin-bottom: 0;
}

article header p {
  font-style: italic;
  margin-top: 0;
  padding: 0 0 1.3rem;
  border-bottom: 2px solid #999;
}

article p {
  margin: 0;
  padding: 0 0 1.3rem;
}

blockquote {
  font-size: 1.125rem;
  color: #555;
}

.quote {
  margin-left: .3em;
}

article ol {
  margin: 0;
  margin-left: 1.3rem;
  padding: 0 0 1.3rem;
}

article p:last-of-type {
  border-bottom: 2px solid #999;
}
